.emailOptOut .legalText .checkboxLabel { font-size: 12px; line-height: 20px; }
#Captcha { text-align: left; }
#Captcha .SVGInline-svg { width: 18px; height: 18px; cursor: pointer; margin-left: 8px; vertical-align: middle; }
#Captcha .label { display: none; }
#Captcha .text-input { width: auto; display: inline-block; }
#Captcha > div { margin: 0 auto; }
#recaptcha_image { width: 100% !important; margin: 12px auto; }
#recaptcha_image img { width: 100% !important; height: 50px !important; }
#recaptcha_response_field { width: 140px; }
.lockedHome #Home section.lockedHero .lockedSignUp .invalid + input { border-color: #d93e30; }
.lockedHome #Home section.lockedHero .lockedSignUp .invalid + input + div { font-weight: 700; }
.emailSuggestionText { font-size: 12px; line-height: 20px; }
.grey-400 { color: #858c94; }

.email-input .input-wrapper,
.password-input .input-wrapper { padding-top: 0 !important; }

.email-input .input-wrapper input,
.password-input .input-wrapper input { padding-top: 16px; }
.email-button span { max-height: 38px; }
.orSeparator .orText { position: relative; top: -2px; }
.orSeparator .borderTop { border: 1px solid #c4c7cc; }
button.facebook { background-color: #1877f2; color: #fff; width: 100%; padding-left: 8px !important; }
button.facebook span { color: #fff; }
button.facebook span.label { -webkit-transform: translateX(-11px); -ms-transform: translateX(-11px); -o-transform: translateX(-11px); transform: translateX(-11px); }
button.facebook .SVGInline { -webkit-background-size: 11px 20px; background-size: 11px 20px; width: 24px; height: 24px; }
button.facebookWhite { background-color: #fff; color: #1877f2; width: 100%; border: 1px solid #1877f2 !important; padding-left: 8px !important; }
button.facebookWhite span { color: #1877f2; }
button.facebookWhite span.label { -webkit-transform: translateX(-11px); -ms-transform: translateX(-11px); -o-transform: translateX(-11px); transform: translateX(-11px); }
button.facebookWhite:hover { background-color: #fff; }
button.facebookWhite .SVGInline { -webkit-background-size: 11px 20px; background-size: 11px 20px; width: 24px; height: 24px; }
#FbButton { display: block !important; position: relative; cursor: pointer; margin: 0 auto; height: 40px; }
#FbButton::after { content: ""; display: block; height: 40px; position: absolute; top: 0; width: 100%; }
.defaultButton { margin-bottom: -40px !important; padding-left: 8px !important; }
.defaultButton .SVGInline { width: 24px !important; height: 24px !important; }
button.google { background-color: #fff; color: #dc4e41; width: 100%; }
button.google span.label { -webkit-transform: translateX(-20px); -ms-transform: translateX(-20px); -o-transform: translateX(-20px); transform: translateX(-20px); }
button.google .SVGInline { -webkit-background-size: 20px 20px; background-size: 20px 20px; width: 20px; height: 20px; }
button.googleBlue { background-color: #4285f4; color: #fff; width: 100%; padding-left: 8px !important; }
button.googleBlue span.label { -webkit-transform: translateX(-20px); -ms-transform: translateX(-20px); -o-transform: translateX(-20px); transform: translateX(-20px); }
button.googleBlue .SVGInline { background-color: #fff; -webkit-background-size: 32px 32px; background-size: 32px 32px; width: 32px; height: 32px; border-radius: 4px; padding: 5px; }
button.apple .label { -webkit-transform: translateX(-20px); -ms-transform: translateX(-20px); -o-transform: translateX(-20px); transform: translateX(-20px); }
.socialUserEmailOptOut { background-color: #fff; position: absolute; padding-top: 10px; z-index: 2000; max-width: 460px; width: 100%; top: 0; margin-left: -40px; margin-top: 20px; padding-bottom: 170px; }
.modal_content .socialUserEmailOptOut { bottom: 0; margin-left: -36px; }
.socialUserEmailOptOut li { line-height: 20px; }
.socialUserEmailOptOut .emailOptOut .subtle { color: #404040; }
.socialUserEmailOptOut .emailOptOut input { font-size: 16px; }
.social .inline { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.social .inline .gd-btn + .gd-btn { margin-top: 0; margin-right: 0; margin-left: 24px; }
.social .inline button { max-width: 169px; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.social .apple { background-color: #fff; color: #505863; width: 100%; }
.social button { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-shadow: none; box-shadow: none; border: 1px solid #c2c2c2; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 16px; height: 40px; text-align: center; border-radius: 2px; cursor: pointer; font-weight: 700; font-size: 15px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.social button span.label { -webkit-box-flex: 1; -webkit-flex: auto; -ms-flex: auto; flex: auto; }
.social button .SVGInline { background-repeat: no-repeat; display: inline-block; margin-right: 16px; vertical-align: text-bottom; }
.social .gd-btn + .gd-btn { margin: 16px auto 0; }
.valueProps .msg { font-size: 16px; line-height: 24px; }
.checkmarkIconGreen path { fill: #0caa41; }
.tooltipIcon { cursor: pointer; height: 24px; color: #858c94; }
.slider-exit { -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.slider-enter { position: absolute; width: 100%; }
.next .slider-enter { -webkit-transform: translateX(200%); -ms-transform: translateX(200%); -o-transform: translateX(200%); transform: translateX(200%); }

.next .slider-exit-active,
.previous .slider-enter { -webkit-transform: translateX(-200%); -ms-transform: translateX(-200%); -o-transform: translateX(-200%); transform: translateX(-200%); }
.previous .slider-exit-active { -webkit-transform: translateX(200%); -ms-transform: translateX(200%); -o-transform: translateX(200%); transform: translateX(200%); }
.slider-enter.slider-enter-active { -webkit-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.singularAuthLinkButton { width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }
.view-container { width: 100%; overflow: hidden; margin: 0 auto; position: relative; min-height: 400px; }
.gdUserLogin { max-width: 100%; }
.gdUserLogin .modal_content { overflow-x: hidden; }
.gdUserLogin div { line-height: 20px; }
.gdUserLogin button.signupSubmit { -webkit-transition: -webkit-box-shadow 0.25s ease-in-out; transition: -webkit-box-shadow 0.25s ease-in-out; -o-transition: box-shadow 0.25s ease-in-out; transition: box-shadow 0.25s ease-in-out; transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out; -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.35); box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.35); }
.gdUserLogin button.signupSubmit:disabled { background-color: #1861bf; border-color: #1861bf; color: #abccf7; -webkit-box-shadow: 0 2px 6px 0 transparent; box-shadow: 0 2px 6px 0 transparent; }
.gdUserLogin button.signupSubmit:disabled:hover { background: #1861bf; }
.gdUserLogin button.signupSubmit:disabled:hover::after { display: none; }
.gdUserLogin .w-100pct { width: 100%; }
.gdUserLogin .maxw-modal { max-width: 342px; }
.gdUserLogin .maxh-100pct { max-height: 100%; }
.gdUserLogin .minh-modal { min-height: 350px; }

@media (min-width: 576px) {
  .gdUserLogin .w-sm-wideModal { width: 600px; }
  .gdUserLogin .maxw-sm-100pct { max-width: 100%; }
  .gdUserLogin.gdGrid .pb-sm-0 { padding-bottom: 0 !important; }
}
.gdUserLogin h1 { font-size: 20px; line-height: 27px; font-weight: 900; color: #20262e; }

@media (min-width: 576px) { .gdUserLogin h1 { font-size: 24px; } }
.gdUserLogin h2 { font-size: 18px; line-height: 24px; }

@media (min-width: 576px) { .gdUserLogin h2 { font-size: 20px; } }
.gdUserLogin .description { font-size: 15px; line-height: 22px; text-align: center; overflow-wrap: anywhere; }
.gdUserLogin .legalText { font-size: 12px; line-height: 18px; text-align: center; }
.gdUserLogin .legalText .link { text-decoration: underline; }
.gdUserLogin .scrollY { overflow-y: auto; }
.gdUserLogin .minWidthBtn { min-width: 176px; }
.gdUserLogin .h100 { height: 100%; }
.gdUserLogin .flex-grow-1 { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }
.mw-400 { max-width: 400px; margin: auto; }
.actionBarMt0 .actionBar { margin-top: 0 !important; }
.alertMessageBottom { height: 48px; }
.alertMessageBottom .alertMessage { position: absolute; bottom: 0; left: 0; right: 0; }
.alertMessageBottom .cta .closeIcon { margin-top: 0; margin-bottom: 0; }
.lockedHome .authInlineContainer .signInDescription { margin-top: 12px; }

@media (max-width: 991px) { .lockedHome .authInlineContainer { width: 100vw; } }

@media (min-width: 767px) {
  .lockedHome .authInlineContainer { padding: 12px; }

  .lockedHome .authInlineContainer .authConfirm,
  .lockedHome .authInlineContainer .checkboxLabel,
  .lockedHome .authInlineContainer .description,
  .lockedHome .authInlineContainer .legalText,
  .lockedHome .authInlineContainer .orText,
  .lockedHome .authInlineContainer .spinnerLabel,
  .lockedHome .authInlineContainer [data-test=error],
  .lockedHome .authInlineContainer [data-test=helper] { color: #fff; }
  .lockedHome .authInlineContainer .legalText .link { color: #78aef5 !important; }

  .lockedHome .authInlineContainer h2,
  .lockedHome .authInlineContainer p { color: #fff; }
}
.gdUserLogin .lockedContentIcon { display: inline-block; left: 50%; position: relative; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

@media (min-width: 576px) { .gdUserLogin .maxw-sm-authInlineInner { max-width: 460px; } }
.gdUserLogin .center { text-align: center; }
.gdUserLogin { max-width: 100%; }
.gdUserLogin .modal_content { overflow-x: hidden; }
.gdUserLogin div { line-height: 20px; }
.gdUserLogin button.signupSubmit { -webkit-transition: -webkit-box-shadow 0.25s ease-in-out; transition: -webkit-box-shadow 0.25s ease-in-out; -o-transition: box-shadow 0.25s ease-in-out; transition: box-shadow 0.25s ease-in-out; transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out; -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.35); box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.35); }
.gdUserLogin button.signupSubmit:disabled { background-color: #1861bf; border-color: #1861bf; color: #abccf7; -webkit-box-shadow: 0 2px 6px 0 transparent; box-shadow: 0 2px 6px 0 transparent; }
.gdUserLogin button.signupSubmit:disabled:hover { background: #1861bf; }
.gdUserLogin button.signupSubmit:disabled:hover::after { display: none; }
.gdUserLogin .w-100pct { width: 100%; }
.gdUserLogin .maxw-modal { max-width: 342px; }
.gdUserLogin .maxh-100pct { max-height: 100%; }
.gdUserLogin .minh-modal { min-height: 350px; }

@media (min-width: 576px) {
  .gdUserLogin .w-sm-wideModal { width: 600px; }
  .gdUserLogin .maxw-sm-100pct { max-width: 100%; }
  .gdUserLogin.gdGrid .pb-sm-0 { padding-bottom: 0 !important; }
}
.gdUserLogin h1 { font-size: 20px; line-height: 27px; font-weight: 900; color: #20262e; }

@media (min-width: 576px) { .gdUserLogin h1 { font-size: 24px; } }
.gdUserLogin h2 { font-size: 18px; line-height: 24px; }

@media (min-width: 576px) { .gdUserLogin h2 { font-size: 20px; } }
.gdUserLogin .description { font-size: 15px; line-height: 22px; text-align: center; overflow-wrap: anywhere; }
.gdUserLogin .legalText { font-size: 12px; line-height: 18px; text-align: center; }
.gdUserLogin .legalText .link { text-decoration: underline; }
.gdUserLogin .scrollY { overflow-y: auto; }
.gdUserLogin .minWidthBtn { min-width: 176px; }
.gdUserLogin .h100 { height: 100%; }
.gdUserLogin .flex-grow-1 { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }
.mw-400 { max-width: 400px; margin: auto; }
.actionBarMt0 .actionBar { margin-top: 0 !important; }
.alertMessageBottom { height: 48px; }
.alertMessageBottom .alertMessage { position: absolute; bottom: 0; left: 0; right: 0; }
.alertMessageBottom .cta .closeIcon { margin-top: 0; margin-bottom: 0; }
.lockedHome .authInlineContainer .signInDescription { margin-top: 12px; }

@media (max-width: 991px) { .lockedHome .authInlineContainer { width: 100vw; } }

@media (min-width: 767px) {
  .lockedHome .authInlineContainer { padding: 12px; }

  .lockedHome .authInlineContainer .authConfirm,
  .lockedHome .authInlineContainer .checkboxLabel,
  .lockedHome .authInlineContainer .description,
  .lockedHome .authInlineContainer .legalText,
  .lockedHome .authInlineContainer .orText,
  .lockedHome .authInlineContainer .spinnerLabel,
  .lockedHome .authInlineContainer [data-test=error],
  .lockedHome .authInlineContainer [data-test=helper] { color: #fff; }
  .lockedHome .authInlineContainer .legalText .link { color: #78aef5 !important; }

  .lockedHome .authInlineContainer h2,
  .lockedHome .authInlineContainer p { color: #fff; }
}
.chipContainer { max-height: 70px; overflow: auto; }
.chip { background-color: #e8eaed; padding: 0 8px; font-size: 10px; font-weight: 700; text-transform: uppercase; line-height: 20px; border-radius: 5px; margin: 0 8px 8px 0; display: inline-block; }
.biggerGdpr .checkboxLabel { margin-top: 0; margin-bottom: 8px; font-size: 15px !important; }
.jaCreateAccountModalWrapper .fullContent { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.jaCreateAccountModalWrapper .fullContent .modal_content { max-height: 600px; width: 100%; }
.jaCreateAccount { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; overflow-x: hidden; height: 528px; }

@media only screen and (max-width: 767px) { .jaCreateAccount { width: auto !important; height: 100%; } }
.h100 { height: 100%; }
.jaCreateAccountTitle { font-weight: 700; text-align: center; font-size: 18px; line-height: 24px; }
.jaCreateAccountSubtitle { color: #505863; }
.jaCreateAccountSubtitle .jaCreateAccountSubtitleDetails { color: #404040; }
.jaCreateAccountSocial button { padding: 0 8px; }
.jaCreateAccountSocial button .label { text-align: left; margin-left: 54px; }
.jaCreateAccountEmailSignUpButton { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; color: #fff; background: #0caa41; padding: 8px; margin-top: 8px; width: 100%; height: 40px; border-radius: 2px; border: none; font-size: 15px; font-weight: 700; text-align: left; cursor: pointer; }

.jaCreateAccountEmailSignUpButton,
.jaCreateAccountEmailSignUpButton svg { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.jaCreateAccountEmailSignUpButton svg { margin-right: 53px; }
.jaCreateAccountSVGInline svg { display: block; }
.grey-400 { color: #858c94; }

.jaCreateAccountFooter,
.jaCreateForm { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }
.jaCreateAccountFooter { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
.jaCreateAccountFooter.nextButtonContainer .nextButton { width: 100%; }

@media only screen and (max-width: 767px) { .jaCreateAccountFooter.nextButtonContainer { -webkit-box-flex: 0; -webkit-flex-grow: 0; -ms-flex-positive: 0; flex-grow: 0; } }

.jaCreateAccountActivated,
.jaCreateAccountCheckEmail { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 100%; }
.jaCreateAccountMsg { color: #505863; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; overflow: auto; line-height: 24px; }
.jaCreateAccountMsg .smallText { font-size: 12px; color: #505863; }
.darkText { color: #20262e; font-weight: 700; }
